body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  background-color: #f1faee;
}

.app {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #1d3557;
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  color: white;
}

.header-link {
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-bar {
  display:flex;
  position: fixed;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #457B9D;
  margin-top: 67px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: lighter;
  padding: 8px 6px;;
  border-radius: 4px;
}

.nav-link:hover {
background-color: #689cbc;
}

.category {
  color: white;
}

.divider {
  height: 100px;
}

.page-banner {
  width: 100%;
  max-width: 1470px;
  margin: 30px 0 30px 0;
  opacity: 80%;
}

.filter-form {
margin-top:10px;
}

.filter-dropdown {
  margin: 0 5px 10px;
  background-color: #e63946;
  color: white;
  padding: 7px 5px;
  border: 2px solid #457B9D;
  border-radius: 6px;
}

.filter-dropdown:hover {
  border: 2px solid #1d3557;
}

.reviews-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.review-card {
  margin: auto auto;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #457b9d;
  padding: 20px;
  width: 60%;
  height: auto;
  text-decoration: none;
}

.review-card:hover {
  background-color: #d9e2d4;
}

.review-card:focus {
  background-color: #d9e2d4;
}

.review-card-img {
  margin-right: 20px;
  min-width: 240px;
  max-height: 150px;
}

.review-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.review-card-text h3 {
margin-bottom: 2px;
margin-top: 10px;
}

.review-card-text p {
  margin-bottom: 0px;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .review-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-card-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.review-container {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: left;
  margin: 0 200px;
  font-size: 1.5rem;
}

.review-title {
  text-align: left;
  margin-top: 20px;
}

.review-creator {
  margin-bottom: 2px;
}

.creation-time {
  padding-top: 0;
  margin-top: 0;
  font-size: 1rem;
}

.review-body {
  text-align: left;
  margin-right: 50px;
}

.review-img {
  width: auto;
  max-height: 400px;
  margin: 25px auto;
}

.vote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 2px;
  width: 48px;
  text-decoration: none;
  background-color: #e63946;
  color: white;
  border: 1px solid #f1faee;
  border-radius: 6px;
}

.vote-container p {
  margin: 0;
  margin-top: 1px;
  margin-right: 2px;
  font-weight: bold;;
}

.vote-container:hover {
  border: 1px solid black;
  box-shadow: 0 4px 6px 0.2px rgb(201, 201, 201);
}

.thumb-icon {
  width: 18px;
  margin-bottom: 4px;
  margin-right: 5px;
}

.clicked {
  color: rgb(152, 226, 251);
}