body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  background-color: #f1faee;
}

.app {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #1D3557;
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  color: white;
}

.header-link {
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.divider {
  height: 100px;
}

.page-banner {
  width: 100%;
  max-width: 1470px;
  margin: 20px 0 30px 0;
  opacity: 80%;
}

.disable {
  display: none;
  /* display: block; */
}

.reviews-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.review-card {
  margin: auto auto;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #457b9d;
  padding: 20px;
  width: 60%;
  height: auto;
  text-decoration: none;
}

.review-card:hover {
  background-color: #d9e2d4;
}

.review-card:focus {
  background-color: #d9e2d4;
}

.review-card-img {
  margin-right: 20px;
  min-width: 240px;
  max-height: 150px;
}

.review-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .review-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-card-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.review-container {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  text-align: left;
  margin: 0 200px;
}

.review-title{
  text-align: left;
}

.review-creator {
margin-bottom: 0;
}

.creation-time {
  padding-top: 0;
  margin-top: 0;
}

.review-body {
  text-align: left;
  margin-right: 50px;
}

.review-img {
  width: auto;
  max-height: 400px;
  margin: 25px auto;
}

.vote-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  margin: 2px;
  width: 48px;
  text-decoration: none;
  background-color: #E63946;
  color: white;
  border: 1px solid #f1faee;;
  border-radius: 6px;
}

.vote-container p {
  margin: 0;
  margin-top: 1px;
  margin-right: 2px;
}

.vote-container:hover {
  border: 1px solid black;
  box-shadow: 0 4px 6px 0.2px rgb(201, 201, 201);
}

.thumb-icon {
  width: 18px;
  margin-bottom: 4px;
  margin-right: 5px;
}
