body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  background-color: #f1faee;
}

.app {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  background-color: #1d3557;
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  color: white;
}

.header-link {
  text-decoration: none;
}
.page-banner {
  width: 100%;
  max-width: 1470px;
  margin: 20px 0 30px 0;
  opacity: 80%;
}

.reviews-container {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.review-card {
  margin: auto auto;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #457b9d;
  padding: 20px;
  width: 60%;
  height: auto;
  text-decoration: none;
}

.review-card:hover {
  background-color: #d9e2d4;
}

.review-card:focus {
  background-color: #d9e2d4;
}

.review-card-img {
  margin-right: 20px;
  min-width: 240px;
  max-height: 150px;
}

.review-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .review-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .review-card-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
